
<div class="des">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quo veniam voluptatem alias dolores 
      magni dicta odit molestias! Fugiat et reprehenderit ipsam eum explicabo tenetur voluptatum quidem vero odit ipsa.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, deserunt, 
    voluptate repudiandae eveniet cupiditate praesentium ratione nihil quas accusantium minima dicta consequuntur,
     quaerat rem minus nisi suscipit fugit adipisci quidem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi reprehenderit voluptatem, 
    ea culpa dolorum asperiores laborum dolores id deleniti ab. 
    Quaerat dolor est praesentium reiciendis repellat atque saepe dignissimos quo?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde expedita libero doloribus asperiores
   quibusdam quos aut qui hic enim,
   pariatur sint nihil omnis autem veritatis blanditiis excepturi, voluptatem eveniet laudantium.</p>
      
    </div>
 



<!-- Material form login -->
<div class="card shadow1">


  <!--Card content-->
  <div class="card-body">

    <h5>
      Login
    </h5>
    <form #userloginForm='ngForm' (ngSubmit)='loginUser(userloginForm)'>
      <!-- Material input -->
      <div class="form-group">
        <label for="name">Email ID</label>
        <input type="email" name="emailId" id="emailId" #emailId='ngModel' ngModel class="form-control" required
            email pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,}">
        <div *ngIf='emailId.touched && emailId.invalid'>
            <div class="text-danger" *ngIf='emailId.errors.required'>
                *This field is mandatory
            </div>
            <div class="text-danger" *ngIf='emailId.errors.pattern'>
                Please enter a Valid Email Address
            </div>
        </div>
    </div>
      <!-- Material input -->
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="password" #password='ngModel' ngModel
          class="form-control" required password pattern="^[A-Za-z\d$@$!%*#?&]{6,}">
        <div *ngIf='password.touched && password.invalid'>
          <div class="text-danger" *ngIf='password.errors.required'>*This Field is Mandatory</div>
          <div class="text-danger" *ngIf=password.errors.pattern>
            <div class="text-danger">Password should be atleast 6 characters long</div>
          </div>
        </div>
      </div>
      <div>
        <!-- Forgot password -->
        <a style="text-align: center;" routerLink="/forgotpassword">Forgot password?</a>
      </div>
      <br>
      <div class="text-center">
        <!-- Sign in button -->
        <button class="btn btn-primary" type="submit">LOGIN</button>
      </div>
      <br>
      <!-- Register -->
      <p style="font-size: medium;">I dont have an account.
        <a routerLink = "/register">Sign Up</a>
      </p>


    </form>

    <!-- Form -->

  </div>

</div> 
<!-- Material form login -->