<div class="des">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quo veniam voluptatem alias dolores
        magni dicta odit molestias! Fugiat et reprehenderit ipsam eum explicabo tenetur voluptatum quidem vero odit
        ipsa.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, deserunt,
        voluptate repudiandae eveniet cupiditate praesentium ratione nihil quas accusantium minima dicta consequuntur,
        quaerat rem minus nisi suscipit fugit adipisci quidem.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi reprehenderit voluptatem,
        ea culpa dolorum asperiores laborum dolores id deleniti ab.
        Quaerat dolor est praesentium reiciendis repellat atque saepe dignissimos quo?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde expedita libero doloribus asperiores
        quibusdam quos aut qui hic enim,
        pariatur sint nihil omnis autem veritatis blanditiis excepturi, voluptatem eveniet laudantium.</p>

</div>


<div class="card shadow1">

    <div class="card-body">
        <h5>
            Forgotten Password
        </h5>
        <br>
        <p style="font-size: medium;">Enter the email address used to register and we'll sent you a link to reset your
            password</p>
        <form>
            <div class="form-group">
                <label for="emailId">Email Id</label>
                <input type="email" name="emailId" id="emailId" placeholder="example@gmail.com" #emailId='ngModel' ngModel
                  class="form-control" required email pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,}">
                <div *ngIf='emailId.touched && emailId.invalid'>
                  <div class="text-danger" *ngIf='emailId.errors.required'>
                    *This field is mandatory
                  </div>
                  <div class="text-danger" *ngIf='emailId.errors.pattern'>
                    Please enter a Valid Email Address
                  </div>
                </div>
              </div>
            <br>
            <div class="text-center">
                <!-- Sign in button -->
                <button class="btn btn-primary" type="submit">Reset Password</button>
            </div>
            <br>
            <a routerLink="/">Back to login</a>
            <!-- Register -->



        </form>

        <!-- Form -->

    </div>

</div>