
.card{
    width: 400px;
    margin-top: 50px;
    margin-left:65pc; 
    float: none; 
    margin-bottom: 10px;
    box-shadow: 5px;
    box-shadow: chartreuse;
    
    
    
}
.shadow1 { 
    box-shadow:5px 5px 5px 5px rgb(204, 201, 201);
  }
h5{
    
    font-size:30px;
    text-align: center;
}
button{
    width: 200px;
    border-radius: 6px;
    text-align: center;
    
    
}
.des{
    width: 50%;
    
    float:left;
    padding-left: 50px;
    padding-top: 50px;
  
  }
  p{
      text-align: left;
      text-align: justify;
      font-size: 20px;
     
  }
  a{
      text-decoration: none;
  }